<div class="col-md-6">
  <h2 class="text-center">Add Employee</h2>
<form>
  <div class="form-group">
    <label for="name">Name :</label>
    <input type="name" [(ngModel)]="employee.name" placeholder="Name" name="name" class="form-control" id="name">
  </div>

  <div class="form-group">
    <label for="age">Age:</label>
    <input [(ngModel)]="employee.age" placeholder="AGE" name="age" class="form-control" id="age">
  </div>

  <div class="form-group">
    <label for="gender">Gender:</label>
    <input [(ngModel)]="employee.gender" placeholder="Gender" name="gender" class="form-control" id="gender">
  </div>

  <div class="form-group">
    <label for="designation">designation:</label>
    <input [(ngModel)]="employee.designation" placeholder="designation" name="designation" class="form-control" id="designation">
  </div>

  <div class="form-group">
    <label for="department">Department:</label>
    <input [(ngModel)]="employee.department" placeholder="Department" name="department" class="form-control" id="department">
  </div>

  <div class="form-group">
    <label for="country">country:</label>
    <input [(ngModel)]="employee.country" placeholder="country" name="country" class="form-control" id="country">
  </div>

  <button class="btn btn-success" (click)="createEmployee()">Create</button>
</form>
</div>
