
<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="col-md-offset-1">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
  
  <a routerLink="/employees">List Employees</a>
  <a style="margin-left:10px" routerLink="/add">Add Employee</a>
  <br/>
  <router-outlet></router-outlet>
  </div>
  
  