<div class="col-md-6">
  <h2 class="text-center">Add Employee</h2>
<form>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="email" [(ngModel)]="employee.name" placeholder="Name" name="name" class="form-control" id="name">
  </div>

  <div class="form-group">
    <label for="age">Age:</label>
    <input [(ngModel)]="employee.age" placeholder="Age" name="Age" class="form-control" id="Age">
  </div>

  <div class="form-group">
    <label for="department">Department:</label>
    <input [(ngModel)]="employee.department" placeholder=" Department" name="department" class="form-control" id="department">
  </div>

  <div class="form-group">
    <label for="salary">Salary:</label>
    <input [(ngModel)]="employee.salary" placeholder=" Salary" name="salary" class="form-control" id="salary">
  </div>

  <button class="btn btn-success" (click)="createEmployee()">Create</button>
</form>
</div>
